.list-item.container-fluid{ id: "exercicio-#{exercicio.nome_exercicio}" }
  %tr
    %td.offset-col
    %td.exercicio-nome-col
      = exercicio.nome_exercicio
    %td.exercicio-video-col
      = link_to exercicio.video, exercicio.video

