.list-item.container-fluid{ id: "treino_exer-#{treino_exer.cpf}" }
  %tr
    %td.treino_exer-cpf-col
      =treino_exer.cpf
    %td.treino_exer-nome_treino-col
      =treino_exer.nome_treino
    %td.treino_exer-data_inicio-col
      =treino_exer.data_inicio
    %td.treino_exer-nome_exercicio-col
      =treino_exer.nome_exercicio
    %td.treino_exer-serie_rep-col
      =treino_exer.serie.to_s + " / " + treino_exer.repeticoes.to_s
    %td.treino_exer-intervalo-col
      =treino_exer.intervalo
    %td.treino_exer-carga-col
      =treino_exer.carga
    %td.treino_exer-tempo-col
      =treino_exer.tempo
    %td.treino_exer-velocidade-col
      =treino_exer.velocidade
    %td.treino_exer-inclinacao-col
      =treino_exer.inclinacao
    %td.treino_exer-nivel-col
      =treino_exer.nivel
    %td.treino_exer-observacao-col
      =treino_exer.observacao