.list-item.container-fluid{ id: "treino_exer-#{treino_exer.cpf}" }
  %tr
    %td.treino_exer-cpf-col
      =link_to treino_exer.cpf, aluno_path(treino_exer.treino.aluno.id)
    %td.treino_exer-nome_treino-col
      =treino_exer.nome_treino
    %td.treino_exer-data_inicio-col
      =treino_exer.data_inicio
    %td.treino_exer-nome_exercicio-col
      =treino_exer.nome_exercicio
    %td.treino_exer-serie-rep-col
      =treino_exer.serie.to_s + " / " + treino_exer.repeticoes.to_s
    %td.treino_exer-intervalo-carga-col
      =treino_exer.intervalo.to_s + " / " + treino_exer.carga.to_s
    %td.treino_exer-tempo-velocidade-col
      =treino_exer.tempo.to_s + " / " + treino_exer.velocidade.to_s
    %td.treino_exer-inclinacao-nivel-col
      =treino_exer.inclinacao.to_s + " / " + treino_exer.nivel.to_s
    %td.treino_exer-observacao-col
      =treino_exer.observacao
    %td.delete-col
      =button_to "Remover", treino_exercicio_path(treino_exer.id), :method => :delete, :class => 'btn btn-danger btn-block'