- page_title "Índice Treino Exercícios"
#index-treino-exercicio
  %h3= "Lista de Treino-Exercícios Cadastrados"
  = render "treino_exercicios/treino_exercicios_list"
  .home-button
    = link_to "Home", my_home_path, :class => 'btn btn-warning btn-block'