.list-item.container-fluid{ id: "rec-#{rec.id}" }
  %tr
    %td.rec-url-col
      - if rec.published
        =link_to rec.url
      - else
        %p <font color='red'> <em>This recording is not available for download </font> </em>
    %td.rec-title-col
      =rec.title
    %td.description
      =rec.description
    %td.author
      =rec.author
    %td.institution
      =rec.institution
    %td.rec-chat-col
      -if rec.chat.present?
        =rec.chat
      - else
        %p <font color='red'> <em>There was no chat logs for this recording</font> </em>
    %td.rec-slide-col
      - if rec.slide.present?
        =rec.slide
      - else
        %p <font color='red'> <em>There was no presentation available for this recording</font> </em>