@import "bootstrap/mixins";

body.tipo_exercicios.new {
  text-align: center;
  background-color: #cccccc;
  
  #new-tipo-exercicio {
    width: 60%;
    margin: auto;
    background-color: #999999;
    border: 1px bold #aaaaa;

    h3 {
      font-size: 40px;
      margin: 25px;
    }

    #buttons {
      text-align:center;
      margin: auto;
      width: 450px;
    }
  }
}