.list-item.container-fluid{ id: "aluno-#{aluno.cpf}" }
  %tr
    %td.aluno-cpf-col
      =aluno.cpf
    %td.aluno-nome-col
      =aluno.nome_aluno
    %td.aluno-idade-col
      =aluno.idade
    %td.aluno-sexo-col
      =aluno.sexo
    %td.aluno-tel-col
      =aluno.telefone
    %td.aluno-celular-col
      =aluno.celular
    %td.aluno-email-col
      =aluno.email
    %td.aluno-peso-col
      =aluno.peso_atual
    %td.aluno-altura-col
      =aluno.altura
    %td.aluno-turno-col
      =aluno.turno_horario
    %td.aluno-obs-col
      =aluno.observacao