.list-item.container-fluid{ id: "aluno-#{aluno.cpf}" }
  %tr
    %td.aluno-cpf-col
      =link_to aluno.cpf, aluno_path(aluno.id)
    %td.aluno-nome-col
      =link_to aluno.nome_aluno, aluno_path(aluno.id)
    %td.aluno-idade-col
      =aluno.idade
    %td.aluno-sexo-col
      =aluno.sexo
    %td.aluno-tel-col
      =aluno.telefone
    %td.aluno-celular-col
      =aluno.celular
    %td.aluno-email-col
      =aluno.email
    %td.aluno-peso-altura-col
      =aluno.peso_atual.to_s + " / " + aluno.altura.to_s
    %td.aluno-turno-col
      =aluno.turno_horario
    %td.aluno-obs-col
      =aluno.observacao
    %td.delete-col
      =button_to "Remover", aluno_path(aluno.id), :method => :delete, :class => 'btn btn-danger btn-block'