@import "bootstrap/mixins";

body.alunos.new {
  font-family: Courier New;
  text-align: center;
  background-color: #3B5998;
  
  #new-aluno {
    border-radius: 30px;
    padding: 2px 0 20px 0;
    width: 60%;
    margin: 40px auto;
    background-color: #eedddd;

    h3 {
      font-size: 40px;
      margin: 25px;
    }

    #button {
      float: right;
      display: inline-block;
      text-align:center;
    }

    #home-button {
      float: left;
      display: inline-block;
      text-align:center;
    }
  }
}